body{
	background-color: #FFFF99;
	width: 800px;
	font-family: Verdana;
	margin: 10px auto 10px auto;
	padding: 10px;
}

h1, h2{
	color: red;
}

.intro{
	width: 80%;
	margin: 5px auto;
	background-color: #FFFFFF;
	padding: 5px;
	border: 4px #000000 dashed;
}

a:link{
	text-decoration: none;
	color: green;
}
a:visited{
	text-decoration: none;
	color: green;
}

a:hover{
	color:blue;
	font-weight: bold;
}
a:active{
	color: pink;
}
